<!doctype html>
<html>
<head>
	<title>Toy WHIP</title>
	<link rel="stylesheet" href="{{home_url}}/static/css/style.css">
	<!-- Scripts belong at the bottom of the page -->
</head>
<body>
	<a href="{{home_url}}/">Start over</a>
	<div id="navigation">
		{% block navigation %}
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="{{home_url}}/static/js/jquery-1.7.2.min.js"><\/script>')</script>
	{% block javascript_imports %}
	{% endblock %}
	<script>
		{% block javascript %}
		{% endblock %}
	</script>
</body>
</html>
